@font-face {
    font-family: font;
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: cstf;
    src: url('/fonts/LinLibertine_R.ttf');
}

html {
    font-family: font;
}

h1, h2, h3, h4, h5, h6, .main-menu, .decoration-primary-500 {
    font-family: cstf;
}

figure {
    margin: .5em;
    padding: 0;
}